{{#if session.isAuthenticated}}
{{outlet}}
<h2 id="newBook">New Book</h2>
<p>
  Pen down what book you are reading.
</p>
<form>
  <div class="form-group">
    <label for="titleInput">Title</label>
    {{input value=title placeholder="Title" class="form-control" id="titleInput"}}
  </div>
  <div class="form-group">
    <label for="authorInput">Author</label>
    {{input value=author placeholder="Author" class="form-control" id="authorInput"}}
  </div>
  <div class="form-group">
    <label for="yearInput">Publish Year</label>
    {{input value=pubYear placeholder="Publish Year" class="form-control" id="yearInput"}}
  </div>
  <div class="form-group">
    <label for="imageInput">Image Link</label>
    {{input value=image placeholder="URL" class="form-control" id="imageInput"}}
  </div>
  {{!-- <div class="form-group">
    <label for="creatorInput">Creator</label>
    {{input value=session.currentUser.displayName placeholder="URL" class="form-control" id="creatorInput"}}
  </div> --}}
  <button {{action "publishBook"}} class="btn btn-default">Publish</button>
  <button {{action "goBack"}} class="btn btn-default">Cancel</button>
</form>
{{/if}}
